[global]
repo1-path=/var/lib/pgbackrest
repo1-retention-full=7
repo1-type=s3
repo1-s3-bucket=your-encrypted-backups-bucket
repo1-s3-endpoint=s3.amazonaws.com
repo1-s3-key=your-access-key
repo1-s3-key-secret=your-secret-key

# Enable GPG Encryption
repo1-cipher-type=gpg
repo1-cipher-passphrase=your-gpg-passphrase

[db_dev]
pg1-path=/var/lib/postgresql/15/main
pg1-user=postgres
pg1-host=db_dev
